@using Devgram.Data.Interfaces
@model Devgram.Data.ViewModels.PublicacaoResponseModel 
@inject IAspnetUser _aspnetUser;

@if (Model?.Comentarios?.Count > 0)
{
    <div>
        <div class="title mt-8">
            <p>Comentários</p>
        </div>

        <div class="comentario-content">
            @foreach (var comentario in Model.Comentarios)
            {
                <div class="comentario-descricao">
                    <div class="d-flex justify-content-between mb-1">
                        
                        
                        
                        <p class="titulo">@comentario.Usuario.NomeCompleto </p>


                        <div class="d-flex ">
                            @if (comentario.Editado)
                            {
                                <p class="editado">Editado</p>
                            }

                            <p>@comentario.DataCriacao </p>

                            @if (_aspnetUser.IsInRole("ADMIN") || comentario.UsuarioId == _aspnetUser.GetUserId())
                            {
                                <span data-id="@comentario.Id" class="delete material-icons cursor-pointer cor-vermelha">delete</span>
                            }
                        </div>
                    </div>
                    <p>@comentario.Descricao</p>
                </div>
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#form-comentario").submit(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var formArray = $('#form-comentario').serializeArray(); // Serializa o formulário para uma array de pares name-value
            var formData = {};

            $.map(formArray, function(n, i){
                formData[n['name']] = n['value'];
            });

            $.ajax({
                url: "@Url.Action("ComentarPublicacao", "Publicacao", new { id = @Model.Id })",
                data: JSON.stringify(formData),
                contentType:'application/json',
                type: "POST",
                success: function (result) {
                    $("#lista-comentarios").html("");
                    $("#lista-comentarios").html(result);
                    $("#descricao").val('');
                },
                error: function (result) {
                    window.alert("This is an unhandled exception. ");
                }
            });
        });
    });
    
    $(".delete").click(function () {
        var id = $(this).attr("data-id");
        $("#modal").load(`/publicacao/@Model.Id/remover-comentario/${id}`, function () {
            document.getElementById("modal").style.display = 'block';
        });
    });

</script>