@using Devgram.Data.Interfaces
@using Devgram.Web.ViewComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAspnetUser _aspnetUser;

@section Head {
    <link rel="stylesheet" href="~/css/pages/post.css" asp-append-version="true"/>
    <title>Devgram • Publicação</title>
}

<div class="alert-container">
    <alert></alert>
</div>

@model Devgram.Data.ViewModels.PublicacaoResponseModel 

<vc:header-component></vc:header-component>

<div class="global-container">
    <div class="mb-1 d-flex justify-content-center">
        <img src="@Model.Logo" id="image-preview-model" class="image-preview" alt="Pré-visualização da Imagem"/>
    </div>

    <div class="title">
        <p>@Model.Titulo</p>
    </div>

    <div class="ler-descricao">
        <p>@Model.Descricao</p>
    </div>

    <div id="lista-comentarios" class="mb-2">
        <partial name="_ListaComentarios" model="Model"/>
    </div>

    @if (_aspnetUser.IsAuthenticated())
    {
        <form id="form-comentario">
            <input id="usuarioId" name="usuarioId" value="@_aspnetUser.GetUserId()" type="hidden"/>
            <div class="form-group mb-1">
                <label>Faça um comentário</label>
                <textarea id="descricao" name="descricao" rows="4"></textarea>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <a asp-controller="Home" asp-action="Index" class="btn-outline-purple">Voltar</a>
                </div>
                <button type="submit" id="btn-comentar" class="btn-outline-orange">Comentar</button>
            </div>
        </form>
    }
    else
    {
        <div class="d-flex justify-content-center mb-2">
            <a asp-controller="Home" asp-action="Index" class="btn-outline-purple">Voltar</a>
        </div>
    }


</div>

<script>
        $("#form-comentario").submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            
            var formArray = $('#form-comentario').serializeArray(); // Serializa o formulário para uma array de pares name-value
            var formData = {};

            $.map(formArray, function(n, i){
                formData[n['name']] = n['value'];
            });

            $.ajax({
                url: "@Url.Action("ComentarPublicacao", "Publicacao", new { publicacaoId = @Model.Id })",
                data: JSON.stringify(formData),
                contentType:'application/json',
                type: "POST",
                success: function (result) {
                    $("#lista-comentarios").html("");
                    $("#lista-comentarios").html(result);
                    $("#descricao").val('');
                },
                error: function (result) {
                    window.alert("This is an unhandled exception. ");
                }
            });
        });

</script>